* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #050505;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* container */
.container {
  /* background-color: rgba(0, 255, 255, 0.505); */
  height: 100%;
  width: 95%;
}
header {
  /* background-color: blue; */
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
.logo h2 {
  font-size: 25px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  padding: 0 20px;
}
/* get-started-btn */
button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* hero */
.hero {
  /* background-color: blue;    */
  height: 20%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.hero h1 {
  font-size: 130px;
  font-weight: 500;
}

/* category-pills */
.category-pills {
  /* background-color: blue;    */
  height: 5%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.category-pills p {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #111111;
  border: none;
}
.category-pills p:first-child {
  background-color: #ff5a1f;
}

/* blog-cards-section */
.blog-cards-section {
  /* background-color: aqua; */
  height: 50%;
  width: 100%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-cards-section .card{
    width: 300px;
    height: 100%;
    background-color: #111111;
    border-radius: 7%;
    overflow: hidden;
}
.card .image{
    /* width: 300px; */
    height: 55%;
    background-color: brown;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text */
.text{
    background-color: #111111;
    width: 100%;
}
.text h6{
    background-color: #111111;
    margin: 5%;
    background-color: #2A140A;
    padding: 10px;
    color: #ff5a1f;
    width: fit-content;
    font-size: 13px;
    border-radius: 35px;
}
.text h3{
    background-color: #111111;
    font-size: 18px;
    font-weight: 500;
    margin: 5%;
}
.text p{
    background-color: #111111;
    font-size: 10px;
    color: #7A7A7A;
    margin: 5%;
}